{% block content %}

<div id="comments" class="grey lighten-3">
<div class="page-header">
	<h3 id="to-the-top" class="center">Commentaire(s)</h3>
</div>
{% if signaledComments %}
	<p class="center"><i id="flash" class="material-icons">warning</i><br/><strong>Un ou plusieurs commentaire(s) signalé(s) : <a href="#signaled-comment">Action requise !</a></strong></p>
{% endif %}

{% if not listOfComments %}
	<p>Aucun commentaire n\'a été posté pour le moment.</p>
{% else %}
<div class="row">
	<div class="container">
		<table class="table">
			<thead>
				<th class="center">Fiche</th>
				<th>Commentaire</th>
				<th>Auteur</th>
				<th>Action</th>
			</thead>
			<tbody>
				{% for comm in comment %}
					<tr id="commentaire_{{ comm.id }}"> 
						<td class="center"><a href="{{generateURL('?p=single&id=')}}{{ comm.postid }}">{{ comm.postid }}</a></td>
						<td><em>{{ comm.comment|e }}</em></td>
						<td><strong>{{ comm.author|e }}</strong></td>
						<td><a href="{{generateURL('comment/seen?commentId=')}}{{ comm.id }}" title="Indiqué comme vu"><i class="material-icons">remove_red_eye</i></a>
							<a href="{{generateURL('comment/delete?commentId=')}}{{ comm.id }}" title="Supprimer le commentaire" onclick="return confirm('Etes vous sûr de vouloir supprimer ce commentaire ?')"><i class="material-icons">delete</i></a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
		<div class="col-xs-12 signaled-comments">
			<h4 id="signaled-comment" class="center">Commentaire(s) signalé(s)</h4>
			{% if not signaledComments %}
				<p>Aucun commentaire n'a été signalé pour le moment.<p>
			{% else %}
			<table class="table table-striped table-bordered table-hover table-condensed">
				<thead>
					<th>Auteur</th>
					<th>Contenu</th>
					<th>Ecrit le</th>
					<th>Action</th>
				</thead>
													
				<tbody>
					{% for signaledComment in signaledComments %}
						<tr>
							<td><strong>{{ signaledComment.author|e }}</strong></td>
							<td><em>{{ signaledComment.comment|e }}</em></td>
							<td>{{ signaledComment.commentDate|date("d/m/Y") }}</td>
							<td>
								<a title="Valider le commentaire" href="{{generateURL('comment/validate?commentId=')}}{{ signaledComment.id }}"><i class="material-icons">done</i></a>
								<a title="Supprimer le commenaitre" href="{{generateURL('comment/delete?commentId=')}}{{ signaledComment.id }}" onclick="return confirm('Etes vous sûr de vouloir supprimer ce commentaire ?')"><i class="material-icons">delete</i></a>
							</td>
						</tr>
					{% endfor %}
			{% endif %}
				</tbody>
			</table>
		</div>
{% endif %}
	</div>
	<a href="#to-the-top" title="Retour en haut" class="right"><i class="material-icons">arrow_upward</i></a>
</div>
</div>

<script type="text/javascript" src="{{generateURL('public/js/clignotement.js')}}"></script>

{% endblock %}