{% block content %}

<div class="row grey lighten-3">
	<div id="dashboard" class="col-xs-12">
        <div class="center">
			<h6>Bienvenue {{ _session.username|e }}</h6>
		</div>  
		<div class="center">
			<h3>Tableau de bord</h3>
		</div>  
		<div id="dashboardtable">
			<div class="center">
                <div>
                    <div class="card">
                        <div class="card-content green white-text">
                            <span class="card-title">FICHE(S)</span>
                            <h4>{{datasheet|length }}</h4>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-content orange white-text">
                            <span class="card-title">COMMENTAIRE(S)</span>
                            <h4>{{comment|length }}</h4>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-content blue white-text">
                            <span class="card-title">MEMBRE(S)</span>
                            <h4>{{users }}</h4>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-content red white-text">
                            <span class="card-title">LIGNE(S) SUR LE CHAT</span>
                            <h4>{{chat }}</h4>
                        </div>
                    </div>
                </div>
			</div>	
        </div>
	</div>
</div>

{% endblock %}