{% block content %}

<div id="list" class="grey lighten-3">
<h2 class="center" id="to-the-top">Liste des fiches</h2>
<ul id="list-pagination" class="pagination center">
	{% for letter in 'A'..'Z' %}
		<li class="waves-effect"><a class="page-link" href="member?tab=list&char={{ letter }}">{{ letter }}</a></li>
	{% endfor %} 
</ul>
{% for sheet in datasheet %}
        <div class="row">
            <div class="col s12">
                <h4 id="post-title">{{ sheet.title }}</h4>
                <p>
                    <small>Rédigé le {{ sheet.date|date("d/m/Y") }} par {{ sheet.author }} </small>
                </p>
                <div class="row">
                    <div class="col s12 m6 l8">
                    {{ sheet.content|slice(0, 500) }}...
                    </div>
                    <div class="col s12 m6 l4 center">
                        <img src="public/img/{{ sheet.cover }}" class="responsive-img" alt="{{ sheet.title }}"/>
                        <br/><br/>
                        <a class="btn btn-default btn-sm" href="game/sheet?id={{ sheet.id }}">Voir la fiche complète</a>
                    </div>
                </div>
                <hr/>
            </div>
        </div>
{% endfor %}
<a href="#to-the-top" title="Retour en haut" class="right"><i class="material-icons">arrow_upward</i></a>
</div>

{% endblock %}