{% extends 'template/layout.twig' %}

{% block content %}
<br />
<div class="container">
    <div>
        <h1 id="site-title">Liste des jeux Game Gear</h1>
        <br />
        <p id="titleDetail"><a class="btn btn-default btn-sm" href="index.php">Retour à la page d'accueil</a></p>
    </div>
</div>
<div id="single" class="container grey lighten-3">
    {% for sheet in datasheet %}
    <h2 id="post-title" class="center">{{ sheet.title }}<?= htmlspecialchars($sheetUnique->getTitle()); ?></h2>
        <div class="row center">
            <img class="chapterUniqueImage" src="public/img/<?= $sheetUnique->getScreenshot() ?>" alt="<?= htmlspecialchars($sheetUnique->getTitle()); ?>" >
        </div>
        <h6 class="center">Par {{ sheet.author }}<?= htmlspecialchars($sheetUnique->getAuthor()); ?> le {{ sheet.date|date("d/m/Y") }}<?= $sheetUnique->getDate()->format('d/m/Y') ?></h6>
        <table>
            <thead>
                <th>Développeur</th>
                <th>Editeur</th>
                <th>Année de sortie</th>
                <th>Genre</th>
            </thead>
            <tbody>
                <td>{{ sheet.developer }}<?= $sheetUnique->getDeveloper() ?></td>
                <td>{{ sheet.publisher }}<?= $sheetUnique->getPublisher() ?></td>
                <td>{{ sheet.release_date }}<?= $sheetUnique->getReleaseDate() ?></td>
                <td>{{ sheet.genre }}<?= $sheetUnique->getGenre() ?></td>
            </tbody>
        </table>
        <br />
        <div class="center">
            <img src="public/img/{{ sheet.cover }}<?= $sheetUnique->getCover() ?>" alt="{{ sheet.title }}<?= htmlspecialchars($sheetUnique->getTitle()); ?>" width="183px" heigth="256px">
        </div>
        <p class="sheetParagraph">{{ sheet.content }}<?= $sheetUnique->getContent(); ?></p>
        <br />
        <div class="center">
            <h5>Bonus : Extrait de l'OST "{{ sheet.trackname }}<?= $sheetUnique->getTrackName(); ?>"</h5>
            <audio controls>
                <source src="public/mp3/{{ sheet.track }}<?= $sheetUnique->getTrack(); ?>" type="audio/mpeg">
                Your browser does not support the audio element.
            </audio>
        </div>
    {% endfor %}
        <hr>
    <h4>Commentaire(s)</h4>

    {% if listOfComments == 1 %}
        {% for comment in comments %}
            <strong>{{ comment.author }} (Le {{ comment.date|date("d/m/Y") }}) a dit :</strong>                                                                                                                                              ?>
            <blockquote>
                <p>
                    {{ comment.comment }}
                    {% if comment.getSignaled == 1 %}
                        <a href="index.php?p=single&amp;id=<?= $sheetUnique->getId(); ?>&amp;action=signal&amp;commentId=<?= $comment->getId(); ?>"><small class="signal pull-right">Signaler</small></a>
                    {% else %}
                        <em class="orange">Le commentaire a été signalé et est en attente de modération.</em>
                    {% endif %}
                </p>
            </blockquote>
        {% endfor %}}
    {% else %}
        <p>Aucun commentaire n'a été publié, soyez le premier à réagir !</p>
    {% endif %}

	<hr>
	<h4 id="poster-commentaire">Commenter</h4>
		<div class="write-comment">
            {% if {{ session.username }} == 1 %}
                <p>Vous postez un commentaire en tant que <strong>' . {{ session.username }} . '</strong></p>
            {% endif %}
            <form class="form-horizontal" action="index.php?p=single&amp;id=<?= $sheetUnique->getId(); ?>#comments" method="post">
                {% if {{ session.username }} == 0 %}
                <div class="form-group">
                    <label for="author" class="col-sm-1 control-label">Pseudo </label>
                    <div class="col-sm-offset-1 col-sm-2">
                        <input type="text" name="author" class="form-control" />
                    </div>
                </div>
                {% endif %}

                <div class="form-group">
                    <label for="comment" class="col-sm-1 control-label">Commentaire</label>
                        <div class="col-sm-offset-1 col-sm-10">
                            <textarea name="comment" class="materialize-textarea"></textarea>
                        </div>
                </div>
                    <input type="hidden" name="id" value="<?= $sheetUnique->getId(); ?>">
                <div class="col s12">
                    <button type="submit" name ="submit" class="btn btn-default btn-sm">Envoyer votre commentaire</button>
                </div>
            </form>
        </div>
</div>

{% endblock %}