{% extends 'template/layout.twig' %}

{% block content %}
<br />
<div class="container">
    <div>
        <h1 id="site-title">Liste des jeux Game Gear</h1>
        <br />
        <p id="titleDetail"><a class="btn btn-default btn-sm" href="{{generateURL('home')}}">Retour à la page d'accueil</a></p>
    </div>
</div>
<div id="single" class="container grey lighten-3">
    <h2 id="post-title" class="center"><img src="{{generateURL('public/img/sega-game-gear-icon.png')}}"> {{sheetUnique.title}} <img src="{{generateURL('public/img/sega-game-gear-icon.png')}}"></h2>
        <div class="row center">
            <img class="chapterUniqueImage" src="{{generateURL('public/img/')}}{{sheetUnique.screenshot}}" alt="{{sheetUnique.title}}">
        </div>
        <h6 class="center">Par {{sheetUnique.author}} le {{sheetUnique.date|date("d/m/Y")}}</h6>
        <table>
            <thead>
                <th>Développeur</th>
                <th>Editeur</th>
                <th>Année de sortie</th>
                <th>Genre</th>
            </thead>
            <tbody>
                <td>{{sheetUnique.developer}}</td>
                <td>{{sheetUnique.publisher}}</td>
                <td>{{sheetUnique.releasedate}}</td>
                <td>{{sheetUnique.genre}}</td>
            </tbody>
        </table>
        <br />
        <div class="center">
            <img src="{{generateURL('public/img/')}}{{sheetUnique.cover}}" alt="{{sheetUnique.title}}" width="183px" heigth="256px">
        </div>
            <p class="sheetParagraph">{{sheetUnique.content|raw}}</p>
        <br />
        <div class="center">
            <h5>Bonus : Extrait de l'OST "{{sheetUnique.trackname}}"</h5>
            <audio controls>
                <source src="{{generateURL('public/mp3/')}}{{sheetUnique.track}}" type="audio/mpeg">
                Your browser does not support the audio element.
            </audio>
        </div>
        <hr>
    <h4 id="comments">Commentaire(s)</h4>

    {% if listOfComments %}
        {% for singlecomment in comment %}
            <strong>{{singlecomment.author}} (Le {{singlecomment.date|date("d/m/Y")}}) a dit :</strong>
            <blockquote>
                <p>
                    {{singlecomment.comment}}
                    {% if singlecomment.signaled  %}
                        <em class="orange">Le commentaire a été signalé et est en attente de modération.</em>
                    {% else %}
                        <a href="{{generateURL('comment/signal?id=')}}{{singlecomment.id}}"><small class="signal pull-right">Signaler</small></a>
                    {% endif %}
                </p>
            </blockquote>
        {% endfor %}
    {% else %}
        <p>Aucun commentaire n'a été publié, soyez le premier à réagir !</p>
    {% endif %}

	<hr>
	<h4 id="poster-commentaire">Commenter</h4>
		<div class="write-comment">
            {% if _session.username %}
                <p>Vous postez un commentaire en tant que <strong>{{_session.username}}</strong></p>
            {% endif %}
            <form class="form-horizontal" action="{{generateURL('comment/post')}}" method="post">
                {% if not _session.username %}
                <div class="form-group">
                    <label for="author" class="col-sm-1 control-label">Pseudo </label>
                    <div class="col-sm-offset-1 col-sm-2">
                        <input type="text" name="author" class="form-control" />
                    </div>
                </div>
                {% endif %}

                <div class="form-group">
                    <label for="comment" class="col-sm-1 control-label">Commentaire</label>
                        <div class="col-sm-offset-1 col-sm-10">
                            <textarea name="comment" class="materialize-textarea"></textarea>
                        </div>
                </div>
                    <input type="hidden" name="id" value="{{sheetUnique.id}}">
                <div class="col s12">
                    <button type="submit" name ="submit" class="btn btn-default btn-sm">Envoyer votre commentaire</button>
                </div>
            </form>
        </div>
</div>

{% endblock %}